<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.iceblue.data.mapper.DttDatasourceMapper">
     <select id="selectByPage" resultType="cn.iceblue.data.entity.DttDatasource">
        select * from user ${ew.customSqlSegment}
    </select>
</mapper>